{% extends 'base.html.twig' %}

{% block title %}Hello CatalogController!{% endblock %}

{% block body %}

<div class="m-3 text-center">
    <h1>Notre catalogue</h1>
</div>

<div class="row m-4">
    <div class="col-2">
        <strong>Retrouvez nos reductions</strong>
    </div>
    <div class="col-10">
        Eaque deleniti accusamus occaecati ipsum aliquid qui molestiae. Sit alias animi nulla voluptate qui. Consequatur aspernatur explicabo inventore ratione dolorum. Asperiores ea nisi ipsum libero.
    </div>
</div>

<div class="row row-cols-1">
{% for book in books %}

    <div class="card text-white bg-success m-3" style="max-width: 20rem;">
        <div class="card-header">{{ book.price }}</div>
        <div class="card-body">
            <h4 class="card-title">{{ book.title }}</h4>
            <p class="card-text">{{ book.description }}</p>

            <a type="button" class="btn btn-warning" href="{{ path('cart_add', {id : book.id}) }}">Ajouter</a>
        </div>
    </div>

{% endfor %}
</div>
{% endblock %}


